:root {
    --self-chat-background-color: var(--primary);
    --self-chat-foreground-color: white;
    --other-chat-background-color: #DEE1E2;
    --other-chat-foreground-color: black;
    --notif-container-background-color: rgb(246, 250, 252);
}

.talk-bubble {
    display: inline-block;
    position: relative;
    min-height: 2.5rem;
    min-width: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    word-break: break-all;
    margin-right: 2rem;
    margin-left: 2rem;
}

.chat-line-right {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: right;
}

.talk-bubble-right {
    color: var(--self-chat-foreground-color);
    background-color: var(--self-chat-background-color);
}

.talk-bubble-right:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -0.5rem;
    top: 0;
    bottom: auto;
    border: 0.75rem solid;
    border-color: var(--self-chat-background-color) transparent transparent transparent;
    z-index: 0;
}

.chat-line-left {
    direction: ltr;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.talk-bubble-left {
    color: var(--other-chat-foreground-color);
    background-color: var(--other-chat-background-color);
}

.talk-bubble-left:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: auto;
    left: -0.5rem;
    top: 0;
    bottom: auto;
    border: 0.75rem solid;
    border-color: var(--other-chat-background-color) transparent transparent transparent;
    z-index: 0;
}

.notif-bubble {
    display: block;
    position: relative;
    min-height: 2.5rem;
    min-width: 1rem;
    width: fit-content;
    padding: 0.5rem;
    word-break: break-all;
    margin: 0;
    background-color: var(--notif-container-background-color);
    border: 1px solid #BBB;
}

.notif-bubble:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: auto;
    bottom: -1.5rem;
    left: 0;
    border: 1.52rem solid;
    border-color:  transparent transparent transparent var(--notif-container-background-color);
    z-index: -1;
}

.notif-bubble:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: auto;
    bottom: -1.657rem;
    left: -0.05rem;
    border: 1.6rem solid;
    border-color:  transparent transparent transparent #BBB;
    z-index: -1;
}

@keyframes shake-animation {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0.5rem);
    }
    75% {
        transform: translateX(-0.5rem);
    }
    100% {
        transform: translateX(0);
    }
}

.shake-animation {
    animation-name: shake-animation;
    animation-timing-function: ease-in-out;
    animation-duration: 0.25s;
}