:root {
    --primary: #007bff;
}

@media screen and (max-aspect-ratio: 1/1) {
    
    @media (min-width: 640px) and (min-height: 960px) {
        :root {
            font-size: 2rem;
        }
    }
}

@media screen and (min-aspect-ratio: 1/1) {

    
    @media (min-height: 640px) and (max-width: 960px) {
        :root {
            font-size: 1.5rem;
        }
    }
    
    @media (min-height: 960px) and (max-width: 960px)  {
        :root {
            font-size: 2rem;
        }
    }
    
}

body {
    width: 100vw;
    height: 100vh;
}

#app-name {
    text-align: center;
    font-size: 2.5rem;
    line-height: 4rem;
    height: 4rem;
    background-color: var(--primary);
    color: white;
}
 
#chat-viewport {
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    background-color: #FAFAFA;
    height: calc(100% - 8rem);
    overflow-y: scroll;
    overflow-x: hidden;
}

#chat-area {
    width: 100%;
}

#input-area {
    position: absolute;
    height: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-top: #DDD;
}

#input-area input[type="text"] {
    position: absolute;
    top: 0.5rem;
    bottom: 0.5rem;
    left: 5rem;
    height: 3rem;
    border-radius: 1.5rem;
    border-style: solid;
    border-color: #DDD;
    width: calc(100% - 10rem);
    font-size: 2rem;
    padding: 0.25rem 1rem 0.25rem 1rem;
    transition: background-color 0.2s ease-in-out;
    background-color: #F1F2F3;
}

#input-send {
    position: absolute;
    top: 0.5rem;
    bottom: 0.5rem;
    right: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.4rem;
}

.round-button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.round-button img {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none !important;
}

body {
    width: 100vw;
    height: 100vw;
    overflow: hidden;
}